<form class="navbar-form navbar-right" id="search-form" action="#" role="search">
  <div class="form-group">
    <div class="input-group">
      <input type="text" id="q" class="form-control" placeholder="Search and hit enter">
    </div>
  </div>
</form>
